.pyc

**/.ipynb_checkpoints/
**/.DS_Store
/egs/intents/Intent Classification (text)/pytorch_big/fav-kky/
/egs/intents/Intent Classification (text)/fav-kky/
/egs/intents/.google-cookie
/egs/intents/.idea/
/egs/intents/dataset-2/
/egs/intents/pytorch_optimal/fav-kky/
/egs/intents/pytorch_optimal/models/
/egs/intents/retraining/fav-kky/
/egs/intents/dataset-2/
/egs/intents/fav-kky/
/egs/intents/models/
/egs/intents/pytorch_big/dataset-2/
/egs/intents/pytorch_big/dataset-2-small/
/egs/intents/pytorch_big/fav-kky/
/egs/intents/quick answer/google_backup/
/egs/intents/quick answer/test.wav
/egs/intents/quick answer/pokus.ipynb
/egs/intents/retraining/
/egs/intents/time-req-tests/fav-kky/
/egs/intents/web/
/egs/intents/pokus.ipynb
/.idea/
