.pyc

**/.ipynb_checkpoints/
**/.DS_Store
/egs/intents/Intent Classification (text)/pytorch_big/fav-kky/
/egs/intents/Intent Classification (text)/fav-kky/
/egs/intents/.google-cookie
/egs/intents/.idea/
/egs/intents/dataset-2/
/egs/intents/pytorch_optimal/fav-kky/
/egs/intents/pytorch_optimal/models/
/egs/intents/retraining/fav-kky/
/egs/intents/dataset-2/
